*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d9d9d9;
}
.header-tea{
    z-index: 10;
}
.section-contact{
    min-height: 100vh;
    padding: 5rem 0 50px 0;;
    text-align: center;
}
.container-contact{
    max-width: 1025px;
    margin: auto;
    background-color: black;
    background-color: rgba(0,0,0,.6);
    border-radius: 10px;
    color: white;
}
.title-contact{
    font-size: 35px;
    color: white;
}
.text-contact{
    font-size: 17px;
    margin: 15px 0 25px 0;
    color: white;
}
.content-contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.contact-info{
    text-align: left;
    padding: 20px;
}
.title-info{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.card-info{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.line-info{
    height: 2px;
    margin-top: 26px;
    z-index: 1;
}
.title-card{
    font-size: 20px;
}
.text-info-contact{
    margin-bottom: 10px;
    padding: 10px 0 0 0;
}
.text-info-contact i{
    color: #8ae8cf;
    margin-right: 10px;
}
.contact-form{
    padding: 20px;
}
.title-form{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.container-form{
    padding: 10px;
}
.form-label{
    display: flex;
}
.form-text{
    width: 100%;
    padding: 10px;
    margin: 10px 0 14px 0;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #555;
}
.form-text:focus{
    background-color: #fff7e9;
}
.form-button{
    padding: 10px 26px;
    border-radius: 20px;
    border: 1px solid #342004;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
.form-button:hover{
    background-color: white;
    color: #342004;
}
/*-----------------------------------*/
.footer-copy{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
}
.footer-copy p{
    margin-bottom: 0;
}

@media screen and (max-width: 768px){
    .container-contact{
        padding: 20px;
    }
    .content-contact{
        grid-template-columns: 1fr;
    }
}