
main {
    background-color: #242424;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.form {
    padding: 1rem;
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #3420049a ;
    border-radius: 2rem;
}

.form .option {
    display: grid;
    width: 100%;
    margin-bottom: 1rem;
}

.form label {
    text-align: left;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 5px;
}

.form input, .login-btn {
    color: #fff;
    background-color: #474242;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}

.form span {
    color: #fff;
}

.form input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid lightblue;
}

.login-btn {
    color: #fff;
    background-color: #3E630F;
    font-size: 25px;
    font-weight: bold;
}