:root {
    font-size: 16px;
    --blanco: #fff;
    --negro: #242424;
    --rojo: #d16464;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 100px;
}

header {
    display: flex;
    justify-content: space-around;
}

.header--title {
    color: var(--rojo);
}

header nav {
    width: 100%;
}

.nav--list {
    list-style-type: none;
    width: 100%;
}

.nav--item {
    display: inline-block;
}

.nav--link {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
}

.main--image {
    background-image: url("./img/FONDO.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vw;   
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 40px;
}

.main--content {
    background-color: var(--blanco);
    padding: 10px 20px;
}

.main--text {
    font-family: 'Montserrat Alternates';
}

.main--btn {
    width: 300px;
    border: none;
    border-radius: 10px;
    color: var(--blanco);
    background-color: var(--rojo);
    font-size: 30px;
    justify-content: center;
}

