:root {
    font-size: 30px;
    font-family: 'Righteous';
    --blanco: #fff;
    --negro: #242424;
    --rojo: #d16464;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0 100px;
    background-color: #8D8B55;
}

header {
    padding: 10px 10px;
    margin-bottom: 70px;
    background-color: white;
    border-radius: 20px;
}

.header--title {
    display: inline-block;
    font-size: 60px;
}

.header--img {
    width: 72px;
    height: 60px;
    margin-right: 10px;
}

.header--logo {
    display: inline-block;
}

nav {
    display: inline-block;
    margin-left: 10%;
}

.nav--list li {
    display: inline-block;
    padding-left: 40px;
}

.nav--link {
    text-decoration: none;
    color: #242424
}

.active {
    color: #8D8B55;
    border-bottom: 3px solid #8D8B55;
}

.main--image {
    width: 100%;
    height: 60vh;
    margin-bottom: 20px;
}

.main--content {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 200px 110px;
    border-radius: 15px;
    /*
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    */
    /**/
    background-color: var(--blanco);
    background-image: url(./img/hero.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.main--text {
    color: var(--negro);
    font-size: 35px;
}

.text--color {
    color: #8D8B55;
    text-transform: uppercase;
}

.main--btn {
    color: var(--blanco);
    background-color: #8D8B55;
    width: 262px;
    height: 68px;
    font-size: 50px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
}

/*
<div class="main--content">
                <h2 class="main--text">The <span class="text--color">BEST</span> place to get your TEA</h2>
                <button class="main--btn">Shop Now</button>
            </div>