:root {
    --blanco: #fff;
    --negro: #242424;
    font-family: "Roboto";
    font-size: 16px;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d9d9d9;
    height: 100vh;
}

header, button, footer {
    background-color: #342004;
}

header, footer {
    display: flex;
}

section, main {
    display: grid;
}

header, main, section, footer {
    padding-left: 100px;
    padding-right: 100px;
}

header {
    width: 100%;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header--title {
    display: inline-block;
    color: var(--blanco);
    font-size: 2rem;
    text-shadow: 5px 5px 0 white;
}


.header--item {
    display: inline-block;
}

.header--link {
    text-decoration: none;
    color: var(--blanco);
    padding: 10px 20px;
    font-size: 1.5rem;
}

.header--link:hover {
    color: #342004;
    background-color: #fff;
    transition: .5s ease;
}

button:hover {
    color: #342004;
    background-color: #fff;
    transition: .5s ease;
    cursor: pointer;
}

main {
    height: 70vh;
    margin: 30px 0;
    border-radius: 80px;
    grid-template-columns: 1fr 1fr;
}

.hero--image {
    background: url("./img/Drinks.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero--image--2 {
    background: url("./img/Rectangle\ 38.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main--title {
    font-size: 48px;
}

.main--description {
    width: 80%;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.item--button, .main--button {
    display: inline-block;
    color: #fff;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
}

.main--button {
    width: 50%;
    padding: 30px 0px;
    font-size: 28px;
}


section {
    width: 100%;
    height: 20vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.item--button {
    width: 50%;
    padding: 10px 0px;
    font-size: 18px;
}

.item--button:hover {
    background-color: #d9d9d9;
}

.item--img {
    width: 74px;
    height: 74px;
    margin-bottom: 10px;
}

footer {
    position: sticky;
    top: 100%;
    bottom: 0;
    justify-content: center;
    margin-top: 100px;
    color: var(--blanco);
}